.projects-section {
    position: relative;
    background-color: #121418;
}

.projects-section .images-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.images-container .project-card {
    aspect-ratio: 4/3;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.images-container .project-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-card:hover .overlay {
    opacity: 1;
}

.project-name {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 60px;
    font-weight: 400;
}

.images-container .project-card .project-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.images-container .project-card .project-image img {
    width: 100%;
    height: 100%;
}

/* POPUP */
/* ===== */

.popup-bg {
    position: fixed;
    inset: 0;
    padding-left: 150px;
    background-color: rgba(9, 10, 15, 0.96);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.popup {
    background-color: var(--darker-grey);
    max-width: 1000px;
    margin: 60px;
    width: 100%;
    padding: 0;
    position: relative;
    display: flex;
}

.popup .col1 {
    width: calc(50% - 60px);
}

.popup .col2 {
    width: calc(50% - 60px);
}

.popup img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.popup .col2 .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    position: absolute;
    right: 0;
    top: 0;
}

.popup-close {
    cursor: pointer;
    background-color: var(--dark-grey);
    color: var(--primary);
    padding: 0;
    width: 60px;
    height: 60px;
    font-size: 18px;
    margin-bottom: 5px;
}

.link-icon a,
.link-icon span {
    color: white;
    fill: currentColor;
}

.link-icon {
    padding-right: 5px;
    width: 28px;
}

.link-icon a:hover,
.link-icon span:hover {
    color: var(--primary);
    cursor: pointer;
}

.link-icon:last-child {
    width: 23px;
}

.popup .col2 .popup-content {
    width: 80%;
    padding: 100px 70px 90px;
}

.popup .col2 .popup-content .accent {
    padding-right: 5px;
    color: #9396a9;
}

.popup .col2 .popup-content .category {
    font-family: 'Source Code Pro', monospace;
    color: var(--primary);
    font-size: 0.8rem;
    padding-bottom: 10px;
}

.popup .col2 .popup-content .project-name {
    text-align: left;
    font-size: 1.9rem;
    line-height: 2.6rem;
    font-weight: 600;
    padding: 0 0 30px;
}

.popup .col2 .popup-content .project-description {
    padding-bottom: 0;
}

.popup .col2 .popup-content .project-group {
    padding-top: 12px;
    font-size: 0.8rem;
}

.popup .col2 .popup-content .badges {
    padding-top: 30px;
}

.popup .col2 .popup-content .project-group a {
    text-decoration: none;
    color: var(--primary);
}

.popup .col2 .popup-content .project-group a:hover {
    text-decoration: underline;
}

.popup .col2 .popup-content .tool-badge { 
    background-color: var(--primary) !important; 
    color: var(--black) !important;
}

.copied-tooltip {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary);
    border-radius: 30px;
    color: white;
    padding: 4px 10px;
    font-size: 0.75rem;
    pointer-events: none;
    opacity: 0.9;
}



/* TABLET */
/* ====== */

@media (max-width: 1024px) {
    .projects-section .images-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .images-container .project-card .overlay {
        display: none;
    }

    .popup-bg {
        padding-left: 0;
    }

    .popup {
        max-width: 80%;
        margin: 0;
    }
}

/* MOBILE */
/* ====== */

@media (max-width: 765px) {
    .projects-section .images-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .images-container .project-card .overlay {
        display: flex;
        opacity: 1;
    }

    .popup-bg {
        z-index: 99999;
    }

    .popup {
        flex-direction: column;
        max-width: 80%;
        max-height: 100%;
        background-color: var(--darker-grey);
    }

    .popup .col1 {
        width: 100%;
        padding-top: 60px;
        height: 20vh;
    }

    .popup .col2 {
        width: 100%;
    }

    .popup .col2 .actions {
        width: 100%;
        flex-direction: row-reverse;
        background-color: var(--black);
        border-bottom: 1px solid white;
    }

    .popup-close {
        background-color: var(--darker-grey);
        color: white;
        border-left: 1px solid white;
        margin-bottom: 0;
    }

    .popup .col2 .popup-content {
        padding: 50px 10%;
    }

    .popup .col2 .popup-content .category {
        padding-bottom: 5px;
    }

    .popup .col2 .popup-content .project-name {
        font-size: 1.3rem;
        line-height: 2rem;
    }

    .popup .col2 .popup-content .project-group {
        display: none;
    }

    .popup .col2 .popup-content .project-description {
        padding-bottom: 0;
        word-break: normal;
        hyphens: auto;
    }

    .popup .col2 .popup-content .tool-badge { 
        background-color: var(--primary) !important; 
        color: var(--black) !important;
        font-size: 0.7rem;
    }
}
