.projects-section {
    position: relative;
    background-color: var(--darker-grey);
}

.projects-section .images-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.images-container .project-card {
    height: 275px;
}

.images-container .project-card .project-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.images-container .project-card .project-image img {
    width: 100%;
    height: 100%;
}

.images-container .project-card {

}