.projects-section {
    position: relative;
    background-color: var(--darker-grey);
}

.projects-section .images-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.images-container .project-card {
    aspect-ratio: 4/3;
}

.images-container .project-card .project-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.images-container .project-card .project-image img {
    width: 100%;
    height: 100%;
}

.images-container .project-card {

}

/* TABLET */
/* ====== */

@media (max-width: 1024px) {
    .projects-section .images-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* MOBILE */
/* ====== */

@media (max-width: 765px) {
    .projects-section .images-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .images-container .project-card {
        aspect-ratio: 5/3;
    }
}