.projects-section {
    position: relative;
    background-color: var(--darker-grey);
}

.projects-section .images-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.images-container .project-card {
    aspect-ratio: 4/3;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.images-container .project-card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.project-card:hover .overlay {
    opacity: 1;
}

.project-name {
    color: #fff;
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 60px;
    font-weight: 400;
}

.images-container .project-card .project-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.images-container .project-card .project-image img {
    width: 100%;
    height: 100%;
}

.images-container .project-card {

}

/* TABLET */
/* ====== */

@media (max-width: 1024px) {
    .projects-section .images-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .images-container .project-card .overlay {
        display: none;
    }
}

/* MOBILE */
/* ====== */

@media (max-width: 765px) {
    .projects-section .images-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .images-container .project-card .overlay {
        display: flex;
        opacity: 1;
    }

    .project-name {
        padding: 20px 20px;
        font-size: 1.2rem;
    }
}