.hero-section {
    height: 100vh;
    max-height: 750px;
    box-sizing: border-box;
    display: flex;
}

.hero-section .hero-content-col {
    padding: calc(100px + 10%) 0 60px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    min-width: 580px;
}

.text h1 {
    margin-bottom: 25px;
}

.text p {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.5rem;
}

.text p span {
    color: var(--primary);
}

.text button {
    margin: 40px 0;
}

.socials {
    display: flex;
    gap: 5px;
}

.socials a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    transition: color 0.25s ease;
}

.socials a:hover {
    color: var(--primary);
}

.hero-section .hero-image-col {
    width: 50%;
    height: 100%;
}

.hero-section .hero-image-col .gradient {
    background: linear-gradient(
        to right, 
        var(--primary-light), 
        var(--primary), 
        var(--primary-medium), 
        var(--primary-dark), 
        var(--black)
    );
    width: 80%;
    height: 100%;
}