.hero-section {
    min-height: 95vh;
    max-height: 750px;
    box-sizing: border-box;
    position: relative;
}

.hero-section .gradient {
    position: absolute;
    right: 0;
    top: 0;
    width: 45%;
    height: 100%;
    background: linear-gradient(
        to right, 
        var(--primary-light), 
        var(--primary) 10%, 
        var(--primary-medium), 
        var(--primary-dark), 
        var(--black) 40%
    );
    background-size: 100% 100%;
    animation: gradientPulse 6s ease-in-out infinite;
}

@keyframes gradientPulse {
    0%, 100% {
        background-size: 100% 100%;
    }
    50% {
        background-size: 150% 100%; /* subtiel breder */
    }
}


.hero-section .BE-letters {
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0;
    right: 0;
    overflow: hidden;
}

.hero-section .BE-letters img {
    object-fit: cover;
    object-position: left -40px;
    height: 120%;
    width: 100%;
}

.hero-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 50px;
    position: absolute;
    box-sizing: border-box;
    max-width: 1250px;
}

.hero-content {
    width: 50%;
    padding-left: 120px;
}

.text h1 {
    margin-bottom: 40px;
    margin-top: 40px;
}

.text p {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.4rem;
}

.text p span {
    color: var(--primary);
}

.text button {
    margin: 40px 0 120px;
}

.socials {
    display: flex;
    gap: 5px;
    margin-bottom: 30px;
}

.socials a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    transition: color 0.25s ease;
}

.socials a:hover {
    color: var(--primary);
}

.hero-container-image {
    height: 100%;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
}

.hero-section .hero-container-image .me-groot {
    position: absolute;
    width: 67%;
    height: 100%;
    bottom: 0;
    right: 0;
    overflow: hidden;
    display: flex;
}

.hero-section .me-groot img {
    object-fit: cover;
    height: 100%;
    width: auto;
    max-height: 750px;
    object-position: 100% 25%;
    transform: translateX(25%) scale(1.1);
}


/* MOBILE */
/* ====== */

@media (max-width: 1400px) {
    .hero-content {
        width: 30%;
    }
}

@media (max-width: 765px) {
    .hero-content .text button {
        width: 100%;
    }
}

@media (max-width: 1024px) {

    .hero-container {
        height: calc(90vh - 60px);
    }

    .hero-content {
        padding: 0 60px;
        width: 100%;
    }

    .hero-content .text p {
        font-size: 1.1rem;
    }

    .hero-content .text h1 {
        margin-top: 50px;
        margin-bottom: 40px;
        font-size: 3.3rem;
    }

    .hero-content .text button {
        margin-top: 60px;
        margin-bottom: 80px;
    }

    .hero-section {
        height: calc(95vh - 60px);
        min-height: 88vh;
    }

    .hero-section .gradient, .hero-section .hero-container-image .me-groot {
        display: none;
    }

    .BE-letters {
        opacity: 0.2;
    }

    .hero-section .BE-letters img {
        height: 110%;
    }
}