.hero-section {
    height: 94vh;
    max-height: 750px;
    box-sizing: border-box;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .gradient {
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(
        to right, 
        var(--primary-light), 
        var(--primary), 
        var(--primary-medium), 
        var(--primary-dark), 
        var(--black) 50%
    );
    width: 55%;
    height: 100%;
}

.hero-section .BE-letters {
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0;
    right: 0;
    overflow: hidden;
}

.hero-section .BE-letters img {
    object-fit: cover;
    object-position: left -20px;
    height: 120%;
    width: 100%;
}

.hero-container {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 50px 60px 0;
    position: absolute;
    box-sizing: border-box;
    max-width: 1300px;
}

.hero-content {
    width: 40%;
    padding-left: 60px;
}

.text h1 {
    margin-bottom: 40px;
    margin-top: 40px;
}

.text p {
    font-family: 'Source Code Pro', monospace;
    font-size: 1.2rem;
}

.text p span {
    color: var(--primary);
}

.text button {
    margin: 40px 0 120px;
}

.socials {
    display: flex;
    gap: 5px;
    margin-bottom: 30px;
}

.socials a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    transition: color 0.25s ease;
}

.socials a:hover {
    color: var(--primary);
}

.hero-container-image {
    height: 100%;
    width: 100%;
    margin: 0 60px;
    position: absolute;
    box-sizing: border-box;
    max-width: 1250px;
}

.hero-section .hero-container-image .me-groot {
    position: absolute;
    width: 65%;
    height: 100%;
    bottom: 0;
    right: 0;
    overflow: hidden;
    display: flex;
}

.hero-section .me-groot img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: 100% 20%;
}


/* MOBILE */
/* ====== */

@media (max-width: 1400px) {
    .hero-content {
        width: 30%;
    }
}

@media (max-width: 765px) {
    .hero-content .text button {
        width: 100%;
    }
}

@media (max-width: 1024px) {

    .hero-container {
        height: calc(90vh - 60px);
    }

    .hero-content {
        padding: 0 60px;
        width: 100%;
    }

    .hero-content .text p {
        font-size: 1.1rem;
    }

    .hero-content .text h1 {
        margin-top: 80px;
        margin-bottom: 40px;
        font-size: 3.3rem;
    }

    .hero-content .text button {
        margin-top: 60px;
        margin-bottom: 80px;
    }

    .hero-section {
        height: calc(95vh - 60px);
        padding-bottom: 100px;
    }

    .hero-section .gradient, .hero-section .hero-container-image .me-groot {
        display: none;
    }

    .BE-letters {
        opacity: 0.2;
    }

    .hero-section .BE-letters img {
        height: 110%;
    }
}