.intro-loader {
  position: fixed;
  inset: 0;
  background: black;
  z-index: 20000;
  display: flex;
  align-items: center;
}

/* SVG */
.be-svg {
  position: absolute;
  top: 40px;
  left: 40px;

  width: 70vw;
  height: 100vh;
  overflow: visible;

  transform: translateY(-300px) translateX(-50px);
  animation: blink-le 1.4s infinite both;
}

@keyframes blink-le {
  0% { opacity: 0.6; }
  50% { opacity: 0.2; }
  100% { opacity: 0.6; }
}

.be-svg path {
  vector-effect: non-scaling-stroke;
}

/* TRANSITION */
.transition {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 20001;
}

.transition .panel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  z-index: 9999;
}

.panel.white {
  /*background: var(--primary);*/
  background: var(--darker-grey);
}

.loader-line-container {
  width: 6px;
  height: 100%;
  background: var(--black);
  border-radius: 3px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000000;
}

.loader-line {
  width: 100%;
  height: 100%;
  background: var(--primary);
  transform-origin: center;
  transform: scaleY(0);
  transition: transform 0.12s ease-out;
}

.loader-percentage {
  position: fixed;
  bottom: 30px;
  right: 60px;
  font-family: 'Montserrat', monospace;
  font-size: 8rem;
  color: var(--dark-grey);
  pointer-events: none;
  z-index: 20002;
  user-select: none;
}

@media (max-width: 1024px) {
  .loader-percentage {
    display: none;
  }

  .be-svg {
    position: absolute;
    top: 0;
    left: 0;

    width: 100vh;
    height: 100vh;
    overflow: hidden;
    animation: blink-le 1.4s infinite both;
    transform: translateX(-60px) scale(1.15);
  }

  @keyframes blink-le {
    0% { opacity: 0.2; }
    50% { opacity: 0.1; }
    100% { opacity: 0.2; }
  }

  .loader-line-container {
    width: 100%;
    height: 6px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background: var(--black);
    border-radius: 0;
  }

  .loader-line {
    height: 100%;           /* dikte van de lijn = container hoogte */
    width: 100%;               /* startbreedte = 0 */
    background: var(--primary);
    transform-origin: left center;
    transform: scaleX(0);
    transition: transform 0.12s ease-out;
  }
}

