.about-section {
    position: relative;
    background-image: url("/background/portfolio_window_bgdark_3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-bottom: 1px solid white;
}

.about-section p {
    width: 740px;
    text-align: center;
    margin-bottom: 20px;
}