/* DESKTOP */
/* ======= */

.navbar-mobile {
    display: none;
}

.navbar-desktop {
    background-color: var(--darker-grey);

    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 150px;
    
    padding: 40px 0 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
    z-index: 9999;
}

.navbar-desktop .nav-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar-desktop .nav-top img {
    width: 90%;
    margin-bottom: 50px;
}

.navbar-desktop .nav-top ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: relative;
}

.navbar-desktop .nav-top li {
    padding: 20px 0;
}

.navbar-desktop a, .mobile-menu a {
    font-size: 1rem;
    color: white;
    text-decoration: none;
    transition: color 0.25s ease;
}

.navbar-desktop a:hover {
    color: var(--primary);
}

.navbar-desktop a.active, .mobile-menu a.active {
    color: var(--primary);
    font-weight: bold;
}

.navbar-desktop .nav-top .indicator {
    position: absolute;
    right: -44px;
    width: 2px;
    background-color: var(--primary);
    transition: top 0.3s ease, height 0.3s ease;
}

.navbar-desktop .cv a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
}




/* MOBILE */
/* ====== */

@media (max-width: 1024px) {
    .navbar-desktop {
        display: none;
    }

    .navbar-mobile {
        display: block;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }

    .nav-top-mobile {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000;

        height: 60px;
        width: 100%;
        box-sizing: border-box;

        display: flex;
        justify-content: space-between;
        background-color: var(--darker-grey);
        align-items: center;
        height: 60px;
        padding: 0 20px;
    }

    .nav-top-mobile img {
        height: 40%;
    }

    button.hamburger {
        padding: 0;
    }

    button.hamburger:hover {
        transform: none;
    }

    .hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        background: none;
        border: none;
        color: white;
    }

    .mobile-menu {
        display: none;
    }

    .mobile-menu.open {
        position: fixed;
        top: 59px;
        z-index: 999;

        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding-bottom: 120px;

        background-color: var(--black);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .mobile-menu ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin-bottom: 80px;
    }

    .mobile-menu a {
        font-size: 1.1rem;
        width: 100%;
    }

    .mobile-menu .cv a {
        background-color: var(--primary);
        padding: 10px 50px;
        box-sizing: border-box;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        gap: 10px;
    }

    .mobile-menu .cv a svg {
        width: 20px;
        height: 20px;
    }
}