.navbar {
    background-color: var(--darker-grey);

    position: fixed;
    top: 0;
    left: 0;

    height: 100%;
    width: 120px;
    
    padding: 40px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    box-sizing: border-box;
}

.navbar .nav-top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Logo */
/* ==== */

.navbar img {
    width: 80%;
    margin-bottom: 50px;
}

/* Links */
/* ===== */

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: relative;
}

.navbar li {
    padding: 30px 0;
}

.navbar a {
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    color: var(--primary);
}

.navbar a.active {
    color: var(--primary);
    font-weight: bold;
}

.navbar .indicator {
    position: absolute;
    right: -33px;
    width: 2px;
    background-color: var(--primary);
    transition: top 0.3s ease, height 0.3s ease;
}

/* CV link */
/* ======= */

.navbar .cv a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 0.9rem;
}