@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* Common styling */

:root {
    --primary: #B689F2;
    --primary-light: #EADCF4;
    --primary-medium: #5D467C;
    --primary-dark: #260651;

    --grey: #353941;
    --dark-grey: #24272C;
    --darker-grey: #17191D;
    --black: #090A0F;
}

* {
    font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
    color: white;
}

.main-content {
    margin-left: 150px;
    width: calc(100% - 150px);
}


h1 {
    font-size: 4rem;
}

p {
    font-size: 0.9rem;
}

button {
    background-color: var(--primary);
    border: 1px solid transparent;
    padding: 12px 18px;
    border-radius: none;
    font-weight: 500;
    cursor: pointer;
}

.button-primary {
  color: white;
  background-color: var(--darker-grey);
  border-left: 2px solid var(--primary);
  padding: 15px 20px;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  outline: none;

  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.button-primary:hover {
    background-color: var(--primary);
}

.button-primary:disabled {
    background-color: var(--darker-grey);
    color: var(--black);
    font-weight: 600;
    cursor: not-allowed;
}




/* MOBILE */
/* ====== */

@media (max-width: 1024px) {
    .main-content {
        margin-top: 60px;
        margin-left: 0;
        width: 100%;
    }
}