@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

/* Common styling */

:root {
    --primary: #B689F2;
    --primary-light: #EADCF4;
    --primary-medium: #5D467C;
    --primary-dark: #260651;

    --grey: #353941;
    --dark-grey: #24272C;
    --darker-grey: #17191D;
    --black: #090A0F;
}

* {
    font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
    color: white;
}

.main-content {
    margin-left: 150px;
    width: calc(100% - 150px);
}


h1 {
    font-size: 4rem;
}

h2 {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 60px;
}

h3 {
    font-size: 0.9rem;
    text-align: center;
    color: var(--primary);
    margin-bottom: 10px;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

p {
    font-size: 0.9rem;
    line-height: 1.6rem;
}

button {
    background-color: var(--primary);
    border: 1px solid transparent;
    padding: 12px 18px;
    border-radius: none;
    font-weight: 500;
    cursor: pointer;
}

.button-primary {
  color: white;
  background-color: var(--darker-grey);
  border-left: 2px solid var(--primary);
  padding: 15px 20px;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
  outline: none;

  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

.button-primary:hover {
    background-color: var(--primary);
}

.button-primary:disabled {
    background-color: var(--darker-grey);
    color: var(--black);
    font-weight: 600;
    cursor: not-allowed;
}

.skills-section.outside-container {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: var(--black);
}

.skills-section .inside-container {
    gap: 10px;
    justify-content: flex-start;
    justify-content: space-between;
}

.skill-topic {
    color: white;
    opacity: 0.8 !important;
    gap: 15px; 
    font-weight: 400;
    font-size: 0.8rem !important;
    transition: all 0.25s ease-in-out;
    transform: translateY(0) scale(90%) !important;
}

.skill-topic:hover {
    opacity: 1;
    color: var(--primary);
    transform: translateY(-5px) scales(105%) !important;
    cursor: pointer;
}

.skill-topic div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    aspect-ratio: 1/1;
    transition: all 0.25s ease-in-out;
}

.skill-topic:hover div {
    opacity: 1;
}

.skill-topic i {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-topic svg {
    height: 22.5px;
}

.mirror {
    transform: scaleY(-1);
}


/* LAYOUT */
/* ====== */

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.outside-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 10%;
}

.inside-container {
    width: 100%;
    max-width: 1250px;
}

.white-border {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.about-section .outside-container,
.profiel-section .outside-container,
.projects-section .outside-container {
    padding: 110px 10%;
}

.outside-container.footer-container {
    padding-top: 30px;
    padding-bottom: 50px;
}

.outside-container .inside-container.footer {
    display: flex;
    flex-direction: row !important;
    justify-content: space-between;
}

.outside-container .footer div {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.outside-container .footer div i {
    color: white;
    font-size: 20px;
}

.outside-container .footer div i:hover {
    color: var(--primary);
}


/* TABLET */
/* ====== */

@media (max-width: 1024px) {
    .main-content {
        margin-top: 60px;
        margin-left: 0;
        width: 100%;
    }

    .skill-topic {
        width: 45%;
        justify-content: flex-start;
        opacity: 1 !important;
        color: white;
    }

    .skills-section.outside-container {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .skills-section .inside-container {
        /* gap: 20px 10px; */
        justify-content: space-between;
    }
}

/* MOBILE */
/* ====== */

@media (max-width: 765px) {

    .skills-section {
        display: none;
    }
    
    .skill-topic {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .skill-topic i {
        font-size: 24px;
        padding: 10px;
    }

    .skill-topic svg {
        height: 50.5px;
    }

    .flex-between {
        gap: 40px;
    }

    h2 {
        font-size: 1.9rem;
        text-align: center;
        margin-bottom: 60px;
    }

    p {
        font-size: 0.9rem;
    }

    .about-section .outside-container,
    .profiel-section .outside-container,
    .projects-section .outside-container {
        padding: 120px 14%;
    }

    .skills-section .inside-container {
        gap: 60px 10px;
    }

    .outside-container .inside-container.footer {
        flex-direction: column-reverse !important;
        gap: 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .outside-container .inside-container.footer div {
        display: none;
    }
}