@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

/* Common styling */

:root {
    --primary: #B689F2;
    --primary-light: #EADCF4;
    --primary-medium: #5D467C;
    --primary-dark: #260651;

    --grey: #353941;
    --dark-grey: #24272C;
    --darker-grey: #17191D;
    --black: #090A0F;
}

* {
    font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--black);
    color: white;
}