.skills-tabs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
}

.skills-tabs .skills-buttons {
    width: 25%;
}

.skills-tabs .skills-content {
    width: 75%;
    min-height: 440px;
}

.skills-tabs .skills-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 60px;
    height: 100%;
}

.skills-tabs button {
    background: transparent;
    color: white;
    display: flex;
    align-items: center;
    text-align: left;
    gap: 15px;
    padding: 0;
}

.skills-tabs button p {
    font-size: 0.9rem;
}

.skills-tabs button span i {
    font-size: 19.20px;
}

.skills-tabs button span {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-grey);
    padding: 15px;
    aspect-ratio: 1/1;
}

.skills-tabs .skills-content {
    display: flex;
    background-color: var(--darker-grey);
}

.skills-tabs .skills-content .content-text {
    width: 55%;
    padding: 40px;
}

.skills-tabs .skills-content .content-image {
    width: 45%;
}

.skills-tabs .skills-content .content-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.skills-tabs .skills-content .skills-since {
    font-family: 'Source Code Pro', monospace;
    color: var(--primary);
    font-size: 0.8rem;
}

.skills-tabs .skills-content .skills-products {
    color: var(--primary);
    font-style: italic;
    margin-top: 14px;
    margin-bottom: 40px;
    font-size: 0.8rem;
}

.skills-tabs .skills-content .skills-tools {
    font-size: 0.8rem;
    margin-top: 40px;
    margin-bottom: 10px;
}

.skills-tabs .skills-content .badges {
    display: flex;
    flex-wrap: wrap;
    gap: 10px 5px;
}

.skills-tabs .skills-content .badges .tool-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: fit-content;
    padding: 10px 10px 10px 12px;
    font-size: 0.75rem;
    background-color: var(--primary);
    color: var(--black);
}

.skills-tabs .skills-content .badges .tool-badge svg {
    width: 16px;
    height: 16px;
}

.tool-badge svg {
    fill: currentColor;
}

.tool-badge[data-type="framework"] { 
    background-color: #c4afe4 !important; 
    color: #3f2870 !important;
}

.tool-badge[data-type="tooling"] { 
    background-color: #303531 !important;
    color: #c6c6c6 !important;
}

.tool-badge[data-type="database"] { 
    background-color: #303531 !important;
    color: #c6c6c6 !important;
    /*background-color: #3f2870 !important;
    color: #c4afe4 !important;*/
}

.tool-badge:hover {
    filter: brightness(1.1);
    cursor: pointer;
}

.profiel-container-relative {
    position: relative;
}

.profiel-letters {
    position: absolute;
    bottom: 0;
    left: 0;
    opacity: 0.1;
    width: 40%;
    transform: translateY(40px) translateX(-30px);
}

.experience-section {
    margin-top: 120px;
}

.experience-tabs {
    display: flex;
    gap: 20px;
    margin-bottom: 60px;
}

.experience-tabs button {
    color: white;
    background-color: transparent;
    padding: 0;
    font-size: 1rem;
    font-weight: 800;
}

.experience-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 30px;
    position: relative;
    z-index: 5;
}

.experience-cards .experience-card {
    flex: 1;
    min-width: 0;
    background-color: var(--darker-grey);
    padding: 30px 40px 30px 30px;
    border-left: 2px var(--primary) solid;
}




/* TABLET */
/* ====== */

@media (max-width: 1024px) {
    .skills-tabs {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .skills-tabs .skills-buttons,
    .skills-tabs .skills-content {
        width: 100%;
    }

    .skills-tabs .skills-buttons {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }

    .skills-tabs .skills-buttons button {
        width: 45%;
    }
}

/* MOBILE */
/* ====== */

@media (max-width: 765px) {

    .skills-tabs .skills-buttons button {
        width: auto;
    }
    
    .skills-tabs .skills-buttons {
        gap: 10px;
        padding-top: 0;
    }

    .skills-tabs .skills-buttons p {
        display: none;
    }

    .skills-tabs .skills-content .content-image {
        display: none;
    }

    .skills-tabs .skills-content .content-text {
        width: 100%;
        padding: 40px;
    }
}